@charset "utf-8";
/*wrap start */
.wrap .tel,.wrap .pwd{display: none;}
.wrap .panel-heading{padding:0;}
.wrap .nav{height: 54px;border-bottom: #ffd17f solid 4px;width: 100%;}
.wrap ul li{float: left;color: #585858;font-size: 14px;cursor: default;padding:8px 24px;}
.wrap ul li.active{border-bottom: 2px solid #f46c48;background:#ffffff;border-right:1px solid #dddddd;}
.wrap ul li.active {color:#242424;}
.wrap .col-lg-31{width:398px;}
.wrap .col-sm-41{width:122px;float:left;text-align:right;padding-top:7px;margin-bottom:0;}
.wrap .col-sm-81{width:276px;float:left;}
.wrap .tab-content{padding-top:40px;height:600px;}
.wrap .form-group{padding-bottom:10px;}
.wrap input,.wrap .form-control:focus{box-shadow: none;outline:none;border-color:#d4d3d3;}
.wrap span,.wrap form div.divRow{color: #35363b;font-size: 14px;}
.wrap input,.wrap select{width: 228px;height:28px;border: 1px solid #d4d3d3;padding:5px;border-radius: 3px;margin-left: 10px;font-size: 12px;line-height:1;}
.wrap input.save{display:block;background:#4cb8cf;width:102px;height:38px;font-size:14px;margin-left: 132px;color:#ffffff;box-shadow:inset 0 -3px 2px #46a1b5;}
.wrap input.save:hover,.wrap input.save:active,.wrap input.save:focus{background:#46a1b5;box-shadow: none;}
.wrap select {border: solid 1px #cccccc;appearance:none;-moz-appearance:none;-webkit-appearance:none;
        background: url(../img/selectArrow.png)  no-repeat  right center;padding:0;padding:3px\9;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.wrap select{ padding:5px; } }
.wrap select::-ms-expand { display: none; }
/*wrap end*/
.wrap{position:relative;}
.wrap p.warn{width: 280px;padding: 6px;font-size: 12px;color: #999999;text-align:left ;margin-left:46px ;position: absolute;top:59px;left:65px;visibility: hidden; }
.wrap p.warn {text-indent:30px;background: #fde5e5 url(../img/warn.png) no-repeat 6px center;}
.wrap p.success{width: 280px;padding: 6px;font-size: 12px;color: #3c763d;text-align:left ;margin-left:46px ;position: absolute;top:59px;left:65px;visibility: hidden; }
.wrap p.success {text-indent:30px;background: #dff0d8 url(../img/success.png) no-repeat 6px center;}



